In [1]:
import pandas as pd

In [2]:
file_path="cities.csv"

# Import the csv file into DataFrame
data = pd.read_csv(file_path)

In [3]:
data.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ilo,-17.6394,-71.3375,71.15,62,2,5.82,PE,1587748514
1,Souillac,-20.5167,57.5167,77.00,94,75,8.05,MU,1587747928
2,Hasaki,35.7333,140.8333,41.00,100,20,4.70,JP,1587748159
3,Rikitea,-23.1203,-134.9692,76.55,70,100,11.14,PF,1587748521
4,Yarim,14.2980,44.3779,57.18,42,97,1.32,YE,1587748142

In [4]:
# Save to html file
data.to_html('table.html')